* {
  box-sizing: border-box;
  text-align: center;
}

.wrapper {
  border: 5px solid blue;
  text-align: center;
}

.month {
  font-size: 3rem;
}

.calendarBody {
  border: 3px solid green;
}

.day:nth-child(1),
.box:nth-child(1) {
  color: red;
}
.day:nth-child(7),
.box:nth-child(7) {
  color: blue;
}

.dates {
  height: 5rem;
}
.box {
  border: 1px solid orange;
  position: relative;
}

.today .text {
  position: absolute;
  right: 0;

  width: 25px;
  height: 25px;
  background-color: #ffc7e4;
  color: aliceblue;
  border-radius: 50%;
}

.grayed .text {
  opacity: 0.3;
}
